:root {
  --font-default: 'Roboto';
  --font-header: 'Chathura';

  --color-page-background: #E5E5E5;
  --color-main-background: #FFFFFF;

  --button-color-primary: #212638;
  --button-color-secondary: #34509E;
  --button-color-tertiary: #8490FF;

  --text-color-light: #FFFFFF;
  --text-color-dark: #000000;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  background-color: var(--color-page-background);
  color: var(--text-color-dark);
}

body, button {
  font-family: var(--font-default), sans-serif;
}

.app {
  max-width: 376px;
  margin: 0 auto;
  padding: 60px 30px;
  background-color: var(--color-main-background);
}

.app__keyboard {
  margin-top: 40px;
}

.keyboard {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.button {
  height: 64px;
  border-width: 0;
  border-radius: 32px;
  font-size: 36px;
  cursor: pointer;
}

.button.button--wide {
  width: 148px;
}

.button.button--primary {
  background-color: var(--button-color-primary);
  color: var(--text-color-light);
}

.button.button--secondary {
  background-color: var(--button-color-secondary);
  color: var(--text-color-light);
}

.button.button--tertiary {
  background-color: var(--button-color-tertiary);
}

.button.button--small-font {
  font-size: 26px;
}

.button .button__inner {
  width: 64px;
}

.display {
  margin: 0 10px;
}

.display .display__content {
  font-family: var(--font-header), sans-serif;
  font-size: 130px;
  line-height: 60px;
  text-align: right;
}
